.header_image {
    
    height:250px;
}
.company {
     background-color: white;
}
.company_explanation {
    border-bottom:solid black;
}
main {
      margin-left: 20px;
      margin-right:20px;
}
.company_information {
     border-bottom:solid black;
}
.company_list {
    border-top: 1px black solid ;
    border-bottom:1px black solid;
    border-left:1px black solid;
    border-right:1px black solid;
    border-collapse:collapse;
}